.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  z-index: 10;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.auth-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.login-btn {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.signup-btn {
  background: black;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
}